<div class="container">
  <h1>Project Application</h1>
  <%= simple_form_for [@project, @application] do |f| %>
    <%= f.input :motivation_letter %>
    <%= f.input :resume, as: :file, input_html: { multiple: true } %>
    <%= f.button :submit, "Submit", class: "btn-order" %>
    <%= link_to "Cancel", project_path(@project), class: "btn-trash" %>
  <% end %>
</div>
