<div class="chat-container">
  <h1><%= @chatroom.name %></h1>
  <hr>
  <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
    <% @chatroom.messages.each do |message| %>
      <div class="message-container" id="message-<%= message.id %>">
          <% if message.user == current_user %>
            <div class="you-container">
              <i class="author">
                <span>You</span>
                <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
              </i>
              <div class="message-box you-msg">
                <p><%= message.content %></p>
              </div>
            </div>
          <% else %>
            <i class="author">
              <span><%= message.user.first_name %></span>
              <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
            </i>
            <div class="message-box">
              <p><%= message.content %></p>
            </div>
          <% end %>
      </div>
    <% end %>
  </div>
  <div class="message-input">
    <%= simple_form_for [ @chatroom, @message ], remote: true do |f| %>
      <%= f.input :content, label: false, placeholder: "Message # #{@chatroom.name}" %>
      <%= f.button :submit, "Submit", :class => "btn-light-green mb-3" %>
    <% end %>
  </div>

</div>
