<%# link_to 'My Profile', user_path(current_user)  %>
<div class="container-main">
  <div class="hold">
    <div class="card-dashboard">
      <% if @user.photo.attached? %>
        <%= cl_image_tag @user.photo.key %>
      <% else %>
        <%= image_tag "default-avt.png" %>
      <% end %>
      <h4> <%= @user.organization? ?  @user.organization.name : "#{@user.first_name.capitalize} #{@user.last_name.capitalize}" %> </h4>
      <% if @user.organization? %>
        <%= link_to 'Create a Project', new_project_path %>
      <% else %>
        <%= link_to user_my_skills_path(@user) do %>
          <div class="capsule"><p>Add Skills to Your Profile<p> <i class="fas fa-plus" ></i> </div>
        <% end %>
      <% end %>
    </div>
    <div class="applications-projects"> 
      <div class="applications">
        <h3>Applications</h3>
        <h4>Open</h4>
        <% @applications.select { |e| e.open? }.each do |application| %>
          <p><%= "#{application.created_at.strftime("%m/%d/%Y")} - #{application.project.title}" %> </p>
        <% end %>
        <p><em><%= "Your open applications will be displayed here" unless @applications.select { |e| e.open? }.first %></em></p>
        <h4>Approved</h4>
        <% @applications.select { |e| e.accepted? }.each do |application| %>
          <p><%= "#{application.created_at.strftime("%m/%d/%Y")} - #{application.project.title}" %> </p>
        <% end %>
        <p><em><%= "Approved applications will be displayed here" unless @applications.select { |e| e.accepted? }.first %></em></p>
        <h4>Closed</h4>
        <% @applications.select { |e| e.declined? }.each do |application| %>
          <p><%= "#{application.created_at.strftime("%m/%d/%Y")} - #{application.project.title}" %> </p>
        <% end %>
        <p><em><%= "Closed applications will be displayed here" unless @applications.select { |e| e.declined? }.first %></em></p>
      </div>
      <div class="projects">
        <h3>Projects</h3>
        <% @projects.reverse.each do |project| %>
          <div class="dashboard-card-project">
            <%= project.photos.attached? ? (cl_image_tag project.photos.first.key) : (image_tag "project_default_background.jpg") %>
            <div class="project-info">
              <h4><%= project.title %> </h4>
              <p><%= project.description %><p>
              <%= link_to "See the Project", project_path(project)  %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  
  <div class="container-sidebar">
    <div class="container-news">
      <h4>The Good Dev News</h4>
    </div>
    <div class="container-projects">
      <h4>Latest Projects</h4>
      <% @all_projects.reverse[0..2].each do |project| %>
        <div class="card-project">
          <div class="review-avatar">
          <% if project.organization.user.photo.attached? %>
            <%= cl_image_tag project.organization.user.photo.key %>
          <% else %>
            <%= image_tag "default-avt.png" %>
          <% end %>
            <p> <%= project.organization.name %> </p>
            <p> <%# reviewer.organization? ?  "Host" : "Volunteer" %> </p>
          </div>
          <div class="review-content">
            <p><em>"<%= project.description %>"</em></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
