<%# link_to 'My Profile', user_path(current_user)  %>
<div class="container-dashboard">
  <div class="hold">
    <div class="card-dashboard">
      <% if @user.photo.attached? %>
        <%= cl_image_tag @user.photo.key %>
      <% else %>
        <%= image_tag "default-avt.png" %>
      <% end %>
      <% if @user.organization? %>
        <h4> <%= @user.organization.name %> </h4>
      <% else %>
        <h4> <%= "#{@user.first_name.capitalize} #{@user.last_name.capitalize}" %> </h4>
        <div class="container-current_skills">
          <% @user.my_skills.each do |my_skill| %>
            <div class="btn main-btn btn-skill"> <%= my_skill.skill.name %> </div>
          <% end %>
        </div>
        <div class="container-current_languages">
          <% @user.my_languages.each do |my_language| %>
            <div class="btn main-btn btn-language"> <%= my_language.language.name %> </div>
          <% end %>
        </div>
      <% end %>
      <% if @user.organization? %>
        <%= link_to 'Create a Project', new_project_path %>
      <% else %>
        <%= link_to user_my_skills_path(@user), :id => "add-skill" do  %>
          <div class="capsule"><p>Add Skills to Your Profile<p> <i class="fas fa-plus" ></i> </div>
        <% end %>
        <div id="popup-skills">
          <div class="container-skills">
            <% (@skills - @user.skills).each do |skill| %>
              <%= simple_form_for [current_user, @my_skill], :class => "skill" do |f| %>
                <%= hidden_field_tag("[skill]", "#{skill.id}") %>
                <%= f.submit "#{skill.name}", class: "btn main-btn btn-skill" %>
              <% end %>
            <% end %>
          </div>
          <%= link_to 'Done', dashboard_path, :class => "btn main-btn close-section" %>
        </div>
        <%= link_to user_my_languages_path(@user), :id => "add-language" do  %>
          <div class="capsule"><p>Add Languages to Your Profile<p> <i class="fas fa-plus" ></i> </div>
        <% end %>
        <div id="popup-languages">
          <div class="container-languages">
            <% (@languages - @user.languages).each do |language| %>
              <%= simple_form_for [current_user, @my_language], :class => "language" do |f| %>
                <%= hidden_field_tag("[language]", "#{language.id}") %>
                <%= f.submit "#{language.name}", class: "btn main-btn btn-language" %>
              <% end %>
            <% end %>
          </div>
          <%= link_to 'Done', dashboard_path, :class => "btn main-btn close-section" %>
        </div>
      <% end %>
    </div>
    <div class="applications-projects"> 
      <div class="applications">
        <h3>Applications</h3>
        <h4>Open</h4>
        <% @applications.select { |e| e.open? }.each do |application| %>

          <div class="accordion" id="accordionExample">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#a<%= application.id %>" aria-expanded="false" aria-controls="a<%= application.id %>">
                    <p><%= "#{application.created_at.strftime("%m/%d/%Y")} - #{application.user.first_name} #{application.user.last_name} for #{application.project.title}" %> <%#= link_to "Respond", application_assess_path(application), class: "btn-primary" if current_user.organization == application.project.organization %> </p>
                  </button>
                </h5>
              </div>
              <div id="a<%= application.id %>" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample" >
                <div class="card-body">
                  <div>

                    <h5>Project: <%= link_to application.project.title, project_path(application.project), class: "h5-links" %></h5>
                    <div class="description">
                      <p><%= application.project.description %></p>
                    </div>
                    <div class="mt-4">
                      <h5>Applicant: <%= link_to "#{application.user.first_name}  #{application.user.last_name}", user_path(application.user), class: "h5-links" %></h5>
                      <div class="letter">
                        <p><%= application.motivation_letter %></p>
                      </div>
                    </div>
                    <div class="mt-4">
                      <% if application.user.linkedin.present? || application.user.github.present? %>
                        <h6> Check me out on: </h6>
                      <% end %>
                      <% if application.user.linkedin.present? %>
                        <%= link_to application.user.linkedin do %>
                          <i class="fab fa-linkedin"></i>
                        <% end %>
                      <% end %>


                  
                      <% if application.user.github.present? %>
                        <%= link_to "https://#{application.user.github }" do %>
                          <i class="fab fa-github-square"></i>
                        <% end %>
                      <% end %>
                    </div>
                    <p><%= cl_image_tag application.resume.key if  application.resume %></p>
                    <div class="accept-decline">
                      <% if current_user.organization? %>
                        <%= simple_form_for (application), :method => :patch do |f| %>
                          <%= hidden_field_tag "application[status]", "accepted" %>
                          <%= f.submit "Accept", class: "btn btn-success" %>
                        <% end %>

                        <%= simple_form_for (application), :method => :patch do |f| %>
                          <%= hidden_field_tag("application[status]", "declined") %>
                          <%= f.submit "Decline", class: "btn btn-danger" %>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


<%# :url => application_respond_path, :method => :patch %>



        <% end %>
        <p><em><%= "Your open applications will be displayed here" unless @applications.select { |e| e.open? }.first %></em></p>
        <h4>Approved</h4>
        <% @applications.select { |e| e.accepted? }.each do |application| %>
        <div>
          <p><%= "#{application.created_at.strftime("%m/%d/%Y")} - #{application.project.title}" %> </p>
        </div>
        <% end %>
        <p><em><%= "Approved applications will be displayed here" unless @applications.select { |e| e.accepted? }.first %></em></p>
        <h4>Closed</h4>
        <% @applications.select { |e| e.declined? }.each do |application| %>
        <div>
          <p><%= "#{application.created_at.strftime("%m/%d/%Y")} - #{application.project.title}" %> </p>
        </div>
        <% end %>
        <p><em><%= "Closed applications will be displayed here" unless @applications.select { |e| e.declined? }.first %></em></p>
      </div>
      <div class="projects">
        <h3>Projects</h3>
        <% @projects.reverse.each do |project| %>
          <div class="dashboard-card-project">
            <%= project.photos.attached? ? (cl_image_tag project.photos.first.key) : (image_tag "project_default_background.jpg") %>
            <div class="project-info">
              <h4><%= project.title %> </h4>
              <p><%= project.description %><p>
              <%= link_to "See the Project", project_path(project)  %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  
  <div class="container-sidebar">
    <div class="container-news">
      <h4>The Good Dev News</h4>
    </div>
    <div class="container-projects">
      <h4>Latest Projects</h4>
      <% @all_projects.reverse[0..2].each do |project| %>
        <div class="card-project">
          <div class="review-avatar">
          <% if project.organization.user.photo.attached? %>
            <%= cl_image_tag project.organization.user.photo.key %>
          <% else %>
            <%= image_tag "default-avt.png" %>
          <% end %>
            <p> <%= project.organization.name %> </p>
            <p> <%# reviewer.organization? ?  "Host" : "Volunteer" %> </p>
          </div>
          <div class="review-content">
            <p><em>"<%= project.description %>"</em></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

