<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "/", class: "navbar-brand" do %>
    <%= image_tag "logo1.svg" %>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "Home", "#", class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <div class="dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%#= link_to "Messages", chatrooms_path, class: "nav-link" %>
            <div class="messages">
              <%= link_to "Messages", "#", class: "nav-link" %>
                <% if @unread_messages == 0 %>

                <% else %>
              <div class="notification-msg" >
                  <%= @unread_messages %>
                  <%#= @chatroom.recipient %>
              </div>
                <% end %>
                <%#= @unread_messages unless @unread_messages == 0 %>
            </div>
          </div>
          <div>
            <% @chatrooms.each do |chatroom|  %>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <% if current_user.volunteer? %>
                  <%= link_to "#{chatroom.recipient.organization.name}", chatroom_path(chatroom), class: "dropdown-item"  %>
                <% else %>
                  <%= link_to "#{chatroom.user.first_name}", chatroom_path(chatroom), class: "dropdown-item"  %>
                <% end %>
              </div>
            <% end %>
          </div>
        </li>

        <li class="nav-item dropdown">
          <% if current_user.photo.attached? %>
              <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src= <%= cl_image_path current_user.photo.key, class: 'avatar' %> />
            <% else %>
              <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src= <%= image_path("default-avt.png") %> />
          <% end %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "My Profile", user_path(current_user), class: "dropdown-item" %>
            <%= link_to "Dashboard", dashboard_path, class: "dropdown-item" %>
            <%= link_to "Settings", edit_user_registration_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "border-btn" %>
          </li>
        <li class="nav-item dropdown">
          <span class="dropdown-toggle main-btn" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Join</span>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Join as Volunteer", new_user_registration_path(partial: :volunteer), class: "dropdown-item" %>
            <%= link_to "Join as Organization", new_user_registration_path(partial: :organization), class: "dropdown-item" %>
          </div>
        </li>

      <% end %>
    </ul>
  </div>
</div>
