<div class= "container-main">
  <div class="holder">
    <h1> Projects Available </h1>
    <div class="filter-bar">
      <button class="btn-filter" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Filter <i class="fas fa-chevron-down"></i>
      </button>
      <div class="collapse" id="collapseExample">
        <div class="card card-body">
          <%= form_tag projects_path, method: :get do %>
            <%= label_tag "Narrow your search" %>
            <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Search for a project or location"
            %>
            <%= submit_tag "Search", class: "btn-light-green mt-3" %>
          <% end %>


          <%#= simple_form_for :project, url: projects_path, method: :get do |f| %>
                <%#= f.input :query, label: "Narrow your search"%>
                <%#= f.button :submit, "Search" %>
          <%# end %>
        </div>
      </div>
    </div>
    <div class="container-cards">
      <% @projects.each do |project| %>

        <% if project.photos.attached? %>
          <% photo_source = cl_image_path project.photos.first.key %>
        <% else %>
          <% photo_source = image_path("project_default_background.jpg") %>
        <% end %>
        <div class="wrap-card">
          <%= link_to project_path(project), :class => "card-project",
                                             :style => "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(#{photo_source});" do %>

            <div class="cell">
              <p> <i class="fas fa-map-pin"></i> <%= project.location %> </p>
            </div>
            <div class="cell">
              <h3> <%= project.title %> </h3>
              <p> <%= project.description %> <p>
            </div>

          <% end %>

            <% if user_signed_in? %>
              <% if current_user.favorited?(project) %>
                <%= link_to project_favorites_path(project.id), remote: true, method: :delete do %>
                  <i class="fas fa-bookmark add"></i>
                <% end %>
              <% else %>
                <%= link_to project_favorites_path(project), remote: true, method: :post do %>
                  <i class="fas fa-bookmark"></i>
                <% end %>
              <% end %>
            <% end %>

        </div>
      <% end %>
    </div>
  </div>
  <div class="container-sidebar">
    <div class="container-news">
      <h4>The Good Dev News</h4>
      <%= render 'news' %>
    </div>
    <div class="container-reviews">
      <h4>Members Feedback</h4>
      <% @reviews.reverse[0..2].each do |review| %>
        <div class="card-review">
          <div class="review-avatar">
          <% reviewer = User.find(review.author_id) %>
            <% if reviewer.photo.attached? %>
              <%= cl_image_tag reviewer.photo.key, class: 'avatar' %>
            <% else %>
              <%= image_tag "default-avt.png" %>
            <% end %>
              <p> <%= reviewer.organization? ?  reviewer.organization.name : "#{reviewer.first_name.capitalize} #{reviewer.last_name.capitalize}" %> </p>
              <p> <%# reviewer.organization? ?  "Host" : "Volunteer" %> </p>
          </div>
          <div class="review-content">
            <p><em>"<%= review.content.truncate(80) %>"</em></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
