<div class= "container-main">
  <div class="holder">
    <h1> Projcts Available </h1>
    <div class="filter-bar">
      <!-- !!!Locate our filter here!!!  -->
    </div>
    <div class="container-cards">
      <% @projects.each do |project| %>
        <% if project.photos.attached? %>
          <% photo_source = cl_image_path project.photos.first.key %>
        <% else %>
          <% photo_source = image_path("project_default_background.jpg") %>
        <% end %>
        <%= link_to project_path(project), :class => "card-project",
                                           :style => "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(#{photo_source});" do %>
          <div class="cell">
            <h3> <i class="fas fa-map-pin"></i> <%= project.location %> </h3>
          </div>
          <div class="cell">
            <h3> <%= project.title %> </h3>
            <p> <%= project.description %> <p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="container-sidebar">
    <div class="container-news">
      <h4>The Good Dev News</h4>
    </div>
    <div class="container-reviews">
      <h4>Members Feedback</h4>
      <% @reviews.reverse[0..2].each do |review| %>
        <div class="card-review">
          <div class="review-avatar">
          <% reviewer = User.find(review.author_id) %>
            <% if reviewer.photo.attached? %>
              <%= cl_image_path reviewer.photo.key %>
            <% else %>
              <%= image_tag "default-avt.png" %>
            <% end %>
              <p> <%= reviewer.organization? ?  reviewer.organization.name : "#{reviewer.first_name.capitalize} #{reviewer.last_name.capitalize}" %> </p>
              <p> <%# reviewer.organization? ?  "Host" : "Volunteer" %> </p>
          </div>
          <div class="review-content">
            <p><em>"<%= review.content %>"</em></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
