<div class="show-container">
  <div class="proj-info">
    <% if user_signed_in? %>
      <% if current_user.favorited?(@project) %>
        <%= link_to project_favorites_path(@project.id), method: :delete do %>
          <i class="fas fa-bookmark add"></i>
        <% end %>
      <% else %>
        <%= link_to project_favorites_path(@project), method: :post do %>
          <i class="fas fa-bookmark"></i>
        <% end %>
      <% end %>
    <% end %>
    <h2><%= @project.title %></h2>
    <hr>
    <h3>How you can help</h3>
    <p><%= @project.details %></p>
    <div>
      <h3>Location</h3>
    </div>
    <p><%= @project.location %></p>
    <div class="dates">
      <div>
        <h4>Start date</h4> <p><%= @project.start_date %></p>
      </div>
      <div>
        <h4>End date</h4> <p><%= @project.end_date %></p>
      </div>
    </div>
    <div class="proj-org">
      <div class= "org-info">
        <div class="line">
          <h3>About <%= link_to "#{@project.organization.name}", user_path(@project.organization.user) %></h3>
          <% if current_user && @project.organization.user != current_user %>
            <% if @chatroom %>
              <%= link_to chatroom_path(@chatroom) do %>
                <i class="far fa-comments"></i>
              <% end %>
            <% else %>
              <%= link_to project_chatrooms_path(@project), method: :post do %>
                <i class="far fa-comments"></i>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <p><%= @project.organization.user.description %></p>
      </div>
      <div class="pict-org">
        <% if @project.organization.user.photo.attached? %>
          <%= cl_image_tag @project.organization.user.photo.key %>
        <% else %>
          <%= image_tag "default-avt.png" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="card-map-column">
    <div class="proj-card">
      <div class="proj-photo">
        <% if @project.photos.length == 1  %>
          <%= cl_image_tag @project.photos.first.key %>
        <% elsif @project.photos.length > 1 %>
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner">
              <% @project.photos.each do |photo| %>
              <div class="carousel-item <%= 'active' if photo == @project.photos[0] %>">
                <%= cl_image_tag photo.key, class: "d-block w-100" %>
              </div>
              <% end %>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        <% else %>
          <%= image_tag "default-project-photo-unsplash.jpg" %>
        <% end %>
      </div>
      <div class="buttons">
        <% if @project.organization.user_id == current_user&.id %>
          <div>
            <%= link_to "Update the Project", edit_project_path(@project), class: "btn btn-light-green" %>
            <%= link_to "Delete this Project", project_path(@project), method: :delete, class: "btn btn-coral" %>
          </div>
        <% elsif current_user%>
          <% if current_user.applications.select { |a| a.project_id == @project.id }.length == 0 %>
            <%= link_to "Apply", new_project_application_path(@project), class: 'btn btn-light-green' %>
          <% else %>
            <% if Date.today >= @project.end_date %>
              <%= link_to "Leave a review", new_project_review_path(@project), class: 'btn btn-light-green' %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div id="map" class="map-style"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
  <%# link_to "Back to Projects", projects_path, class: 'back-btn' %>
</div>
