<div class="container">
   <div class="mb-3">
    <div class="row">
      <div class="col-6 mt-5">
        <div class="proj-desc mb-5 mr-3 pl-4 pr-4 pb-4">
          <% if user_signed_in? %>
              <% if current_user.favorited?(@project) %>
                <%= link_to project_favorites_path(@project.id), method: :delete do %>
                  <i class="fas fa-bookmark add"></i>
                <% end %>
              <% else %>
                <%= link_to project_favorites_path(@project), method: :post do %>
                  <i class="fas fa-bookmark"></i>
                <% end %>
              <% end %>
            <% end %>
          <h2><%= @project.title %></h2>
          <hr>


          <h3>How you can help</h3>
          <p><%= @project.details %></p>
          <div class="mt-4">
          <h3>Location</h3>
          </div>
          <p><%= @project.location %></p>
          <div class="dates mt-4">
            <div>
              <h4>Start date</h4> <p><%= @project.start_date %></p>
            </div>
            <div>
              <h4>End date</h4> <p><%= @project.end_date %></p>
            </div>
          </div>
          <div class="proj-org mt-4">
            <div class="pict-org">
              <h3>About <%= link_to "#{@project.organization.name}", user_path(@project.organization.user) %></h3>
              <% if @project.organization.user.photo.attached? %>
                <%= cl_image_tag @project.organization.user.photo.key %>
              <% else %>
                <%= image_tag "default-avt.png" %>
              <% end %>
            </div>
            <p><%= @project.organization.user.description %></p>
          </div>
          <p><%= @project.organization.user.description %></p>
          <hr>
          <% if current_user && @project.organization.user != current_user %>
            <% if @chatroom %>
              <%= link_to "Contact", chatroom_path(@chatroom), class: "main-btn"  %>
            <% else %>
              <%= link_to 'Contact', project_chatrooms_path(@project), method: :post, class: "main-btn"  %>
            <% end %>

          <% end %>
        </div>
      </div>
      <div class="col-6">
        <div class="img-btn ml-3">
          <div class="proj-photo mt-5 mb-3">
              <%= @project.photos.attached? ? (cl_image_tag @project.photos.first.key) : (image_tag "default-project-photo-unsplash.jpg") %>
          </div>

          <div class="buttons mb-4 pb-3 pr-2">
            <% if @project.organization.user_id == current_user&.id %>
              <div>
                <%= link_to "Update the Project", edit_project_path(@project), class: "btn btn-light-green" %>
                <%= link_to "Delete this Project", project_path(@project), method: :delete, class: "btn btn-coral" %>
              </div>
            <% elsif current_user%>
              <% if current_user.applications.select { |a| a.project_id == @project.id }.length == 0 %>
                <%= link_to "Apply", new_project_application_path(@project), class: 'btn btn-light-green' %>
              <% else %>
                <%= link_to "Leave a review", new_project_review_path(@project), class: 'btn btn-light-green' %>
              <% end %>
            <% end %>
          </div>
        </div>

        <div id="map" class="ml-3 map-style"

       data-markers="<%= @markers.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
     </div>
    </div>
    <%= link_to "Back to Projects", projects_path, class: 'back-btn' %>
  </div>
</div>
